<style>
    .fade-out {
      transition: opacity 0.2s ease-out;
      opacity: 0;
    }
    </style>
  <div x-data="{
    endDate: new Date('July 30, 2024 00:00:00'),
    time: '',
    init() {
      this.updateCountdown();
      setInterval(() => {
        this.updateCountdown();
      }, 1000);
    },
    updateCountdown() {
      const now = new Date();
      const distance = this.endDate - now;
      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);
      this.time = `${days}d ${hours}h ${minutes}m ${seconds}s`;
      if (distance < 0) {
        this.time = 'EXPIRED';
      }
    },
    close() {
      const el = this.$root;
      el.classList.add('fade-out');
      setTimeout(() => el.remove(), 500); // Match the duration of the fade-out animation
    }
}" x-init="init()" class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center sm:px-6 sm:pb-5 lg:px-8">
</div>