
<a href="<%= href %>" type="button" class="flex items-center justify-center w-full h-10 px-6 py-2.5 text-sm font-semibold text-white transition-all rounded-2xl bg-gradient-to-b from-[#0a9875] hover:to-indigo-700 to-[#0a9875] md:w-auto transition">
    <%= text %>
</a>